body {
    margin: 0;
    font-family: Helvetica, Arial, Sans-Serif;
    --side-margin: 32px;
    --top-margin: 24px;
}

.page {
    height: calc(100vh - var(--top-margin));
    padding-top: var(--top-margin);
    padding-left: var(--side-margin);
    padding-right: var(--side-margin);
}

.logo {
    position: absolute;
    width: 100px;
}

.headline {
    position: absolute;
    width: calc(100% - var(--side-margin) * 2);
    top: calc(100vh / 3);
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.375rem;
    font-weight: 800;
}

.headline .jig {
    border-bottom: 0.55rem solid #ddd;
    padding: 0px 4.5rem 1.125rem;
    transform: translateY(1.125rem);
    font-family: Consolas, monaco, monospace;
    font-size: 2.8125rem;
    color: #7928a1;
}

.try-container {
    position: absolute;
    width: calc(100% - var(--side-margin) * 2);
    top: calc(100vh / 3 * 2);
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.try {
    height: 4rem;
    font-size: 2.25rem;
    border-radius: 2.25rem;
    background-color: #0097ff;
    color: #fff;
    cursor: pointer;
    padding: 0 1.125rem;
    line-height: 4rem;
  }

.chevron-container {
    position: absolute;
    width: calc(100% - var(--side-margin) * 2);
    height: 60px;
    bottom: 0px;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
}

.chevron {
    width: 100px;
    height: 60px;
    opacity: 0.2;
    cursor: pointer;
    align-self: flex-end;
    animation: chevron-bounce 0.7s infinite ease-in-out alternate; 
}

@keyframes chevron-bounce {
    0% { transform: translateY(0px); }
    50% { transform: translateY(0px); }
    100% { transform: translateY(-16px); }
}

.menu {
    position: absolute;
    right: 16px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 2.25rem;
    opacity: 0.2;
    line-height: 2;
}

.menu span {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 0 1.125rem;
}

#search-button {
    background-image: url(../../assets/images/search.svg);
    background-position: left 70%;
    background-repeat: no-repeat;
    padding-left: 2.95rem;
}

.menu img {
    height: 50px;
}

.page2-title {
    font-size: 2.25rem;
    font-weight: 800;
    text-align: center;
    font-family: Consolas, monaco, monospace;
    margin: 1.125rem 0 5.625rem;
    color: #545454;
}

.jigs-container {
    height: calc(100vh - var(--top-margin) - 70px - 100px - 60px);
    display: flex;
    position: relative;
    min-height: 38.8125rem;
}

.jigs-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: 95% 40%;
    background-repeat: no-repeat;
    opacity: 0.11;
}

.visual-dragon {
    background-image: url(../../assets/images/dragon.gif);
}

.visual-axe {
    background-image: url(../../assets/images/axe.gif);
}

.visual-loyalty-card {
    background-image: url(../../assets/images/loyalty\ card.gif);
}

.visual-product {
    background-image: url(../../assets/images/luxury\ products.gif);
    background-position: 95% 60%;
}

.visual-vote {
    background-image: url(../../assets/images/vote.gif);
    background-position: 97% 80%;
}

.visual-dollar {
    background-image: url(../../assets/images/stable\ coin.gif);
    background-position: 95% 80%;
}

.visual-permissions {
    background-image: url(../../assets/images/permissions.gif);
}

.jigs-code {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16.5vw;
}

.jigs-list {
    width: 16.875rem;
    border-left: 0.55rem solid #ddd;
    padding-left: 1.6875rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    z-index: 1000;
}

.jigs-list-item {
    font-size: 2.25rem;
    font-weight: 800;
    opacity: 0.12;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.jigs-list-item.selected {
    opacity: 1.0;
}

.jigs-list-desc {
    font-size: 1.125rem;
    opacity: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: all 0.2s ease-out, opacity 0s;
    flex: 0 1 25px;
    height: 0;
    flex-basis: 0;
    overflow: hidden;
    color: #545454;
    padding-left: 0.55rem;
    transform: translateY(-0.55rem);
    line-height: 1.33;
}

.jigs-list-desc.selected {
    opacity: 1.0; 
    flex: 1 1 auto;
    height: auto;
    flex-basis: content;
}

.hljs {
    font-size: 1.125rem;
    padding: 0 !important;
    display: inline !important;
    background: rgba(255, 255, 255, 0.75);
}

.jigs-example {
    position: absolute;
    opacity: 0.0;
    transition: all 0.2s ease-out;
    pointer-events: none;
}

.jigs-example.selected {
    opacity: 1.0;
    pointer-events: all;
}

@media (max-width: 992px) {
    .jigs-code {
        padding-left: 0.75rem;
    }
}

.jigs-code pre {
    background: none !important;
    font-size: 1.125rem !important;
}
